@font-face {
  font-family:'WorkSans';
  src: url(/Fonts/WorkSans/WorkSans-Medium.otf);
}
html{
  font-size: 62.5%;

}
body {
  font-family: 'WorkSans', serif,  Times;
  color: #333;
  font-size: 1.4rem;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: #333;
}
.icon-panier{
  width: 2.9rem;
  height: 3rem;
  
}
.panier{
  padding-left: 1rem;
}
@media only screen and (max-width: 767px)  {
  .panier{
    padding-left: 0;
  }
  .icon-panier{
    width: 3.1rem!important;
    height: 3.5rem!important;
  }
  .logo-nav{
    width: 75.3px!important;
  height: 44.4px!important;
  }
  .site-header__menu-icon{
    width: 23px!important;
  height: 15px!important;
  }
}
@media only screen and (max-width: 1026px)  {
  .icon-panier{
    width: 4rem!important;
    height: 4.3rem!important;
  }
  .panier{
    padding-left: 0;
  }
  .logo-nav{
    padding-top:5px;
    width: 103.1px!important;
  height: 60.7px!important;
  }
  
}
svg{
cursor: pointer;
}
.icon-search {
  width: 1.5rem;
  height: 1.5rem;
}
.icon-heart{
  width: 1.5rem;
  height: 1.5rem;
  fill: #1c31a0;
}
.logo-nav {
  width: 10.2rem;
  height: 6.9rem;
}
.icon-right{
  width: 49px;
  height: 24px;
  transition:all 0.3s ease-in ;
  border-radius: 15px;
}
.icon-right:hover{
  
  background-color: #1c31a0;

}
.cls-blue{
  fill: #1c31a0;
}
.icon-right:hover .cls-blue{
fill: #fff;
}