.instagram{
    margin: 0 5.3rem 10rem;
}
.instagram-header{
    margin: 0 0.8rem 1.65rem;
    h2{
      text-align: center;
      flex: 1;
    }
    span{
        flex: 1;
        
        &:last-child{
            text-align: right;
            &::before{
                content: "•";
                padding: 0.5rem;
            }
        }
        &:first-child{
            &::after{
                content: "•";
                padding: 0.5rem;
            }
        }
    }
}
.instagram-content {
 
  position: relative;
  display: flex;
  justify-content: space-between;

  
  .instagram-item {
    width: 20%;
    margin: 0 0.6rem;
    text-align: center;
    img{
        width: 100%;
        display: block;
    }
    span {
        font-size: 1.8rem;
        margin-bottom: 0.3rem;
        display: block;
        &:last-child {
          font-family: $font-family-dm;
        }
      }
  
      svg {
        font-size: 2rem;
    cursor: pointer;
    
    margin: 0 auto 2rem;
    display: block;
  
        &:hover {
          fill: black;
        }
      }
  }


}


@include respond-below(md){
    .instagram{
        margin: 0 2.3rem 5rem;
        .instagram-content {
            
            .instagram-item {
            margin: 0 0.36rem;
            & svg{
                margin-bottom: 1.3rem;
            }
            & span {
            font-size: 1.7rem;
            margin-bottom: 1.1rem;
            }

            }
            .instagram-header{
                margin-bottom: 1.95rem;
                & span{
                    font-size: 1.3rem;
                }
        }
    }
}
}

@include respond-above(sm){
    .instagram-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
}
@include respond-between(sm,md) {
    .instagram-item{
        span:last-child{
            word-break: break-word;
            padding: 0 20%;
        }
    }
}

@include respond-below(sm){
    .instagram{
       margin: 6rem 1rem;
        .instagram-content{
            flex-wrap: wrap;
             .instagram-item {
                margin: 0 0.5rem 1rem;
                flex: 0 0 calc(50% - 10px);
            &.insta-info{
                order: -1;
                flex: 100%;
                margin-bottom: 3rem;
                padding: 2rem 0;
            }
            & svg{
                margin-bottom: 1.3rem;
            }
            & span {
            font-size: 1.6rem;
            margin-bottom: 3rem;
            display: inline;
            }

            }
        }
            .instagram-header{
                margin-bottom: 2.5rem;
                & span{
                    display: none;
                }
        }
}
}
