@media only screen and (min-width: 1027px){
    .menu-mt{
        display: none;
    }
    .menu-perso-mt{
        display :none;
    }

}
@media only screen and (max-width: 1026px){
body{
    height: 100vh;
}


.menu-mt{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    transform: translateX(-20%);
    transition: all 0.4s ease;
   opacity: 0;
   z-index: -1;
   padding: 0 2.4rem;
}
.menu-mt ul {
    padding: 2.47rem 2.43rem 2.47rem 0;
    font-size: 2.6rem;
        list-style-type: none;
        font-weight: 700;
}
.open.menu-mt{
    transform: translateX(0);
    opacity: 1;
    
}

.recherch-mt{
    width: 100vw;
    overflow: auto;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -26px;
}
.recherch-mt input{
    background-color: #fbf9f7!important;
    text-align: center;
    border:0;
    outline:0;
    width: 100%;
    height: 100%;
    padding: 2.8rem 0;
}
.recherch-mt input:focus{
    outline:none!important;
}
.recherch-mt a{
    position: absolute;
    display: block;
    left: 42%;
}
.femme-mt{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.br-buttom{
    border-bottom:0.5px solid rgba(167, 163, 163, 0.404);  
}
.homme-mt{
    
}
.enfant-mt{
  
}
.marque-mt{
  
}
.perso-mt{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.suive-mt{
   
}
.menu-perso{
    display: none;
}
.menu-perso-mt{
    display:none;
}
.active.menu-perso-mt{
 display: block;
}
.active.menu-mt{
  display: none;
   }


.suive-mt ul{
    padding-top:0!important ;
}
.suive-mt ul li a{
    font-size: 1.6rem;
}
.suive-mt ul li {
padding: 1rem 0;
margin-bottom:1.5rem;
}
.footer-mt{
    background-color: #fbf9f7;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    top: calc(100vh - 141px);
    height: 65px;
    position: absolute;
    width: 100vw;
    margin-left: -2.6rem;
}
.footer-mt ul{
    list-style: none;
    font-size: 16px;
}
}